@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";
@import "footer.css";

/* ==================================================================== */

.main {
    background: var(--accentTwo-bg);
}

.main__about {
    padding: 175px 0;
    background: var(--accentTwo-bg);

}


.about__inner {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(80px,  1fr)); */
    grid-template-columns: repeat(2, auto 1fr);
    align-items: center;
    min-height: 500px;
    gap: 165px;
}

.tab-controls {
    align-self: center;
}

.tab-controls__link {
    display: block;
    white-space: nowrap;
    opacity: 0.25;
    color: var(--generalOne-text);
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 16px;
    transition: var(--transition);

}

.tab-controls__link--active {
    color: var(--generalOne-text);
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 1.13;
    align-self: center;
    opacity: 1;
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.tab-controls__item {}

.tab-controls__link {}

.tab-controls__link--active {}

.about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

#tab2 .about__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    align-items: center;
}

#tab3 .about__content {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    gap: 45px;
    justify-self: start;
}

.about__heading {
    display: flex;
    gap: 45px;
    align-items: center;
}

#tab2 .about__heading {
    display: grid;
    gap: 45px;
}

#tab3 .about__heading {}

#tab2 .about__img img,
#tab3 .about__img img {
    border-radius: 12px;
}

.about__title {
    display: flex;
    align-items: flex-end;
    color: #ffffffcc;
    font-family: Oranienbaum;
    font-size: 56px;
    height: 273px;
}

#tab2 .about__title {
    max-width: 400px;
}

.about__text {
    color: #ffffffcc;
    font-family: 'Inter';
    font-weight: 300;
    line-height: 1.14;
    margin-bottom: 15px;
    max-width: 410px;
    margin-left: 10px;
}



#tab2 .about__text {
    margin-bottom: 0;
}

.about__video video {
    width: 376px;
    height: 212px;
    border-radius: 12px;
}

.about__item {
    font-size: 16px;
    color: #ffffffcc;
    font-family: 'Inter';
    font-weight: 300;
    line-height: 1.13;
    margin-bottom: 10px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

#tab3 ul li {
    list-style: disc;
    margin-left: 20px;
}

/* ==================================================================== */
/* 
.main__estimates {
    background: var(--general-bg);
    padding: 190px 0;
}
.estimates {
}

.estimates__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.estimates__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.estimates__prev,
.estimates__next {
    cursor: pointer;
    background: transparent;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.estimates__next {
}

.swiper-button-disabled.estimates__prev,
.swiper-button-disabled.estimates__next {
    border: 1.5px solid #e1d9e1;
    cursor: auto;
}

.swiper-button-disabled.estimates__prev path,
.swiper-button-disabled.estimates__next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.estimates__prev:hover,
.swiper-button-disabled.estimates__next:hover {
    background: transparent;
}

.swiper-button-disabled.estimates__prev:hover path,
.swiper-button-disabled.estimates__next:hover path {
    fill: #e1d9e1;
}


.estimates
.estimates__next path {
    transition: var(--transition);
}

.estimates__prev:hover,
.estimates__next:hover {
    background: var(--accent-color);
}

.estimates__prev:hover path,
.estimates__next:hover path {
    fill: var(--general-bg);
}

.estimates__slider {
    overflow: visible;
}

.estimates__wrapper {
    margin-bottom: 40px;
}

.estimates__slider {
    display: flex;
    transition: var(--transition);
    height: auto;
    opacity: 1;
}

.swiper-slide-prev.estimates__slide,
.swiper-slide-next.estimates__slide {
    opacity: 0.5;
}
.estimates__slide.swiper-slide {
    transform: scale(.9);
}

.swiper-slide-active__.estimatesslide {
    transform: scale(1);
    opacity: 1;
}
.swiper {
}
.estimates__wrapper {
}
.swiper-wrapper {
}
.estimates__slide {
}
.swiper-slide {
}
.estimates__quote {
}
.estimates__title {
    color: var(--generalTwo-text);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}
.estimates__text {
    color: var(--generalTwo-text);
}
.estimates__img {
}
.estimates__scrollbar {
}
.swiper-scrollbar {
} */


/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */



@media (max-width: 1100px) {

    .about__heading {
        gap: 15px;
    }

    #tab2 .about__content {
        gap: 15px;
    }

    .about__title {
        font-size: 50px;

    }

    #tab2 .about__title {
        font-size: 50px;
    }

    #tab2 .about__content {
        align-items: flex-start;
    }

    /* ----------------- */
    /* ----------------- */
    /* ----------------- */
    /* ----------------- */
    .footer__wrapper {
        display: grid;
        justify-items: start;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__wrapper:last-child {
        display: flex;
        justify-content: space-between;
    }

    .footer__img img {
        width: 50vw;
    }

    /* ----------------- */
}

@media (max-width: 1000px) {

    .about__inner {
        gap: 100px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #ffffffd1;
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__title {
        font-weight: 600;
    }

    /* ----------------- */
    .about__heading {
        display: block;
        gap: 45px;
        align-items: center;
    }

    .about__video video {
        margin-bottom: 20px;
    }

    #tab2 .about__heading {
        gap: 20px;
    }

    .about__text {
        max-width: none;
        margin-left: 0;
    }


    #tab2 .about__img img {
        border-radius: 12px;
        width: 220px;
        height: 281px;
    }

    .about__title {
        font-size: 30px;
        margin-bottom: 20px;
        height: 0;

    }

    #tab2 .about__title {
        font-size: 30px;
        height: 100%;
    }

    .about__item {
        max-width: 400px;
    }




    /* ----------------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .hero__inner {
        max-width: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .hero__info {
        font-size: 12px;
        font-weight: 400;
    }

    .hero__title {
        font-size: 8vw;
    }

    .hero__text {
        font-size: 16px;
    }

    .hero__button {
        max-width: 225px;
        margin: 0 auto;
    }

    .hero__button-text {
        font-size: 12px;
        font-weight: 400;
    }

    /* ----------------- */

    .tab-controls {
        align-self: center;
        margin-bottom: 15px;
    }

    .about__inner {
        gap: 50px;
    }

    .about__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tab-controls__item {
        text-align: center;
    }

    .about__title {

        margin: 20px 0 20px;
    }

    .about__content {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    #tab2 .about__content {
        display: flex;
        max-width: 600px;
    }

    #tab2 .about__heading {
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .about__text {
        max-width: 390px;
        text-align: center;
    }

    #tab3 .about__content {
        display: flex;
        flex-direction: column;
        min-width: 600px;
        gap: 20px;
        align-items: center;
        justify-self: start;
    }

    .about__item {
        max-width: 380px;
        text-align: center;
    }



    /* ----------------- */
    .footer {
        padding: 24px 0 47px;
        font-size: 10px;
    }

    .footer__wrapper {
        gap: 20px 30px;
    }

    .footer__title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        text-align: center;
    }

    .footer__col-copy {
        font-size: 10px;
        color: #ffffff40;
        margin-bottom: 6px;
    }


}

@media (max-width: 600px) {

    .header__hero {
        padding: 90px 0 80px;
    }

    .hero__info {
        font-size: 3vw;
    }

    .hero__title {
        font-size: 9vw;
    }

    .hero__text {
        font-size: 15px;
    }

    .hero__button {
        max-width: 225px;
        margin: 0 auto;
    }

    .hero__button-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.13;
    }

    /* ----------------- */
    .footer__img img {
        width: 40vw;
    }
}


@media (max-width: 450px) {

    .main__about {
        padding: 70px 0 70px;
    }


    .hero__button {
        max-width: 225px;
        margin: 0 auto;
    }

    .hero__button-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.13;
    }

    /* ----------------- */
    .tab-controls {
        align-self: center;
        margin-bottom: 15px;
    }

    .about__title {
        font-size: 8vw;
        text-align: center;
        margin: 54px 0 40px;
    }

    #tab2 .about__heading {
        gap: 0;
    }

    #tab2 .about__title {
        height: 0;
        justify-self: center;
    }

    #tab2 .about__img {
        margin-bottom: 40px;
    }

    #tab2 .about__img img {
        margin-bottom: 40px;
    }

    .about__video video,
    #tab3 .about__img img {
        display: none;


    }

    .about__text {
        font-size: 15px;
        max-width: 300px;
        text-align: center;
    }

    .about__item {
        max-width: 260px;
        text-align: center;
        font-size: 15px;
    }

    #tab3 .about__content {
        display: flex;
        flex-direction: column;
        min-width: 600px;
        gap: 0;
        align-items: center;
        justify-self: start;
    }

    /* ----------------- */

    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0 15px 45px;
    }

    /* ----------------- */




    /* ----------------- */

    .footer {
        padding: 24px 0 47px;
        font-size: 8px;
    }

    .footer__wrapper:last-child {
        justify-content: center;
        text-align: center;
    }

    .footer__wrapper {
        gap: 10px 20px;
    }

    .footer__title {
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .footer__col-copy {
        font-size: 8px;
        color: #ffffff40;
        margin-bottom: 6px;
    }

    .footer__img img {
        width: 30vw;
    }
}