:root {
    --general-text-1: rgba(17, 17, 17, 1);
    --general-text-2: rgba(0, 0, 0, 1);
    --accent-text: rgba(255, 255, 255, 1);
    --accent-text-1: rgba(255, 255, 255, 0.839);
    --general-bg-1: rgba(221, 221, 221, 1);
    --general-bg-2: rgba(248, 248, 248, 1);
    --accent-color-1: rgba(197, 53, 140, 1);
    --accent-color-2: rgba(104, 174, 92, 1);
    --transition: all .4s;


}

.body {
    font-family: "NAMU", "Open Sans", sans-serif;
    line-height: 24px;
    font-size: 18px;
    color: var(--general-text-1);
    background: var(--general-bg-1);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    /* min-height: 100%; */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


/* =============================================== */
/* =============================================== */





.header {
    background: var(--general-text-1);
    color: var(--accent-text);
    padding: 7px 0 7px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 50px;
}



.burger {
    display: flex;
}

.burger-icon {
    display: none;
    width: 30px;
    height: 3px;

    align-items: center;
    justify-content: center;
    z-index: 11;
    background: var(--accent-text);
}


.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    transition: all .4s;
    background: var(--accent-text);
}

.burger-icon span:hover,
.burger-icon span:hover::after,
.burger-icon span:hover::before {
    background: var(--accent-color-1);
    transition: all ease;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -10px;
}

.burger-icon span::after {
    bottom: -10px;
}



.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span:hover {
    background: transparent;
}

.body--opened-menu .burger-icon {
    background: transparent;
}


.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    top: 0px;
    transform: rotate(-45deg);
}


.logo {
    max-width: 183px;
    z-index: 12;
}

.logo img {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh 30px;
    line-height: 24px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
}

.nav__link:hover {
    color: var(--accent-color-1);
    transition: all .4s;
}



.basket__img {
    display: block;
    padding: 7px 0;
}

.basket__img {
    color: #fff;
}

.basket__img svg path {
    transition: stroke .15s ease;
}

.basket__img:hover {
    color: var(--accent-color-1);
    transition: all .4s;
}




/* =============================================== */
/*/* =============================================== */
.main__hero {
    background: var(--general-bg-1);
}

.container {}

.main__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
    padding: 0;
    margin: 0;
}

.main__content {
    z-index: 10;
}

.main__title {
    font-size: 46px;
    line-height: 55px;
    text-align: left;
    min-width: 556px;
    max-width: 556px;
    margin-bottom: 40px;
}

.main__text {
    font-family: "Open Sans" sans-serif;
    font-size: 26px;
    line-height: 35px;
    text-align: left;
    margin-bottom: 90px;
}

.main__button {
    font-family: "Open Sans" sans-serif;
    color: var(--accent-text);
    font-size: 24px;
    text-align: left;
    max-width: 235px;
    max-height: 64px;
    background: var(--accent-color-1);
    padding: 15.5px 51.5px;
}

.main__img {
    margin-right: -118px;
}

.main__img img {
    height: 100%;
}


/*/* =============================================== */

.main__products {
    background: var(--accent-text);
    padding-bottom: 150px;
    padding-top: 150px;
}

.container {}

.products__inner {
    display: grid;
    justify-content: center;
    grid-template: auto auto/ repeat(4, auto);
    gap: 20px;
    line-height: 1;
}

.products__card {
    background: var(--accent-text);
    color: var(--general-text-1);
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 24.9vw;

}


.products__card-img {
    margin-bottom: 19px;
}

.products__card-img img {
    max-width: 24.9vw;
}

.products__card-info {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.products__card-info:hover {
    color: var(--accent-text);
    background: #111111;
    transition: all .4s;
}

/* понять в чем ошибка, не работает ховер */

.products__card-info .products__card-text svg path {
    fill: #111;
    transition: fill .4s;
}

.products__card-info:hover .products__card-text svg path {
    fill: var(--accent-text);
}

.products__card-title {
    color: var(--general-text-1);
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 11px;
}

.products__card-text {
    color: var(--general-text-1);
    font-size: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 27px;

}



.products__card-text-img {}

/* =============================================== */
/* =============================================== */
.main__article {
    padding-top: 125px;
    background: var(--general-bg-2);
}

.container {}

.article__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    line-height: 1;
}

.article__content {
    z-index: 10;
}

.article__title {
    color: var(--general-text-1);
    font-size: 42px;
    margin-bottom: 40px;
    max-width: 774px;
    min-width: 774px;
}

.article__text {
    color: rgba(0, 0, 0, 1);
    font-family: Open-Sans sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.article__img img {
    margin-left: -30px;
}



/* =============================================== */
.main__info {
    display: block;
    padding-top: 150px;
    padding-bottom: 150px;
    line-height: 1;
    background: var(--accent-text);
}

.info__inner {}

.info__title {
    color: var(--general-text-1);
    font-size: 42px;
    margin-bottom: 60px;
}

.info__card-wrapper {
    display: grid;
    justify-content: center;
    grid-template: auto auto/ repeat(3, 1fr);
    gap: 20px;
}

.info__card {
    display: block;
    max-width: 440px;
    box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
    background: var(--accent-text);
    height: 100%;
    padding-top: 26px;
    padding-bottom: 46px;
    padding-left: 40px;
    padding-right: 40px;
}

.info__card-img {
    text-align: center;
    margin-bottom: 15px;
}

.info__card-info {}

.info__card-title {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    margin-bottom: 13px;
    text-align: center;
}

.info__card-text {
    color: rgba(0, 0, 0, 1);
    font-family: Open-Sans sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;

}

/* =============================================== */

.footer {
    background: var(--general-text-1);
    color: var(--accent-text);
    padding: 50px 0 60px;
}

.footer__inner {
    display: grid;
    gap: 0px 30px;
    justify-content: space-between;
    grid-template: auto auto/ repeat(4, auto);
    justify-items: start;
    align-items: flex-start;
}




.footer__col--2 {}

.footer__col--3 {}

.footer__col--4 {}

.footer__col--5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: -3;
    grid-column-end: -1;
    align-items: flex-start;
}

.footer__col-copy {
    align-self: start;
}

.footer__col-title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
}


.footer__logo {
    display: block;
    max-width: 183px;
    margin-bottom: 24px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    font-size: 24px;
    margin-bottom: 30px;
}

.footer__col-list {
    /* font-family: Open-Sans sans-serif; */
    color: var(--accent-text-1);
    font-size: 18px;

    font-weight: 300;
    text-align: left;
}

.footer__col-item {
    margin-bottom: 6px;
}


/* .footer__col-link {
    display: block;
    padding: 5px 0;
} */


.footer__col-tel {
    margin-bottom: 54px;
}

.footer__col-number {
    display: block;
    font-size: 24px;

}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    font-family: "Open-Sans" sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    /* margin-top: 21vh;
    display: block;
    min-width: 529px; */
}

.social {
    display: grid;
    z-index: 15;


    margin-bottom: 55px;
}

.social__list {
    display: flex;
    gap: 15px;
}

/* =============================================== */
/*/* =============================================== */

@media (max-width: 1400px) {
    .products__card {
        max-width: 23vw;
    }

    .products__card-img img {
        max-width: 23vw;
    }

    /* ======================================== */
}


@media (max-width: 1250px) {
    .header__inner {
        gap: 20px;
    }

    .nav__list {
        gap: 25px;
    }

    /* ======================================== */

    .article__title {
        max-width: 774px;
        min-width: 600px;
    }

    /* ======================================== */
}

@media (max-width: 1200px) {
    .main__img {
        margin-right: 30px;
    }

    .main__inner {
        gap: 30px;
    }

    .main__title {
        font-size: 40px;
        line-height: 49px;
        max-width: 470px;
        min-width: 470px;
        margin-bottom: 30px;
    }

    .main__text {
        font-size: 20px;
        line-height: 29px;
        max-width: 350px;
        margin-bottom: 75px;
    }

    .main__button {
        font-size: 20px;
        max-width: 225px;
        max-height: 64px;
        background: var(--accent-color-1);
        padding: 15.5px 51.5px;
    }

    /* ======================================== */
    .products__card-title {
        font-size: 26px;
        padding-top: 20px;
        margin-bottom: 11px;
    }

    .products__card-text {
        font-size: 20px;
    }

    /* ======================================== */
}

@media (max-width: 1100px) {
    .basket__img {
        margin-left: auto;
    }

    .header__inner {
        justify-content: start;
    }

    .nav {
        position: fixed;
        background: var(--general-text-1);
        inset: 0;
        width: 100vw;
        z-index: 10;
        padding: 26vh 15px 30px 10vw;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: start;
    }

    .nav__link {
        line-height: 32px;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger {
        z-index: 12;
    }

    .burger-icon {
        display: block;
        display: flex;
    }

    .basket {
        margin-left: auto;
    }

    /* ======================================== */

    .article__title {
        max-width: 774px;
        min-width: 450px;
    }

    /* ======================================== */
}

@media (max-width: 1050px) {

    .main__inner {
        gap: 0;
    }

    .main__title {
        font-size: 35px;
        line-height: 45px;
        max-width: 430px;
        min-width: 430px;
        margin-bottom: 25px;
    }

    .main__text {
        margin-bottom: 65px;
    }

    /* ======================================== */

    .products__card {
        max-width: 21vw;
    }

    .products__card-img img {
        max-width: 21vw;
    }

    .products__card-info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .products__card-title {
        font-size: 24px;
        padding-top: 20px;
        margin-bottom: 11px;
    }

    .products__card-text {
        font-size: 18px;
    }

    /* ======================================== */
    .footer {
        padding: 20px 0 35px;
    }

    .footer__inner {
        display: grid;
        gap: 0px 15px;
    }

    .footer__logo {
        max-width: 120px;
        margin-bottom: 24px;
    }

    .footer__col-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer__logo-text {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .footer__col-list {
        font-size: 16px;
    }

    .footer__col-item {
        margin-bottom: 6px;
    }

    .footer__col-tel {
        margin-bottom: 54px;
    }

    .footer__col-number {
        font-size: 18px;
    }

    .footer__col-copy {
        font-family: Open-Sans sans-serif;
        color: var(--accent-text-1);
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    .main__img {
        margin-right: -20px;
    }

    .main__inner {
        gap: 30px;
    }

    .main__title {
        font-size: 30px;
        line-height: 36px;
        max-width: 363px;
        min-width: 363px;
        margin-bottom: 20px;
    }

    .main__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 252px;
        margin-bottom: 40px;
    }

    .main__button {
        font-size: 16px;
        max-width: 141px;
        max-height: 36px;
        background: var(--accent-color-1);
        padding: 7px 26.5px;
    }

    /* ======================================== */
    .main__products {
        background: var(--accent-text);
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .products__card {
        max-width: 21vw;
    }

    .products__card-img img {
        max-width: 21vw;
    }

    .products__card-img {
        margin-bottom: 10px;
    }

    .products__card-info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .products__card-title {
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .products__card-text {
        font-size: 12px;
        gap: 10px;
        padding-bottom: 15px;
    }

    .products__card-text svg {
        width: 12px;
        height: 12зч;
    }

    /* ======================================== */

    .main__article {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .article__title {
        color: var(--general-text-1);
        font-size: 26px;
        margin-bottom: 20px;
    }

    .article__text {
        font-size: 14px;
        line-height: 16px;
    }

    .article__img img {
        display: none;
    }



    /* ======================================== */

    .info__card-wrapper {
        grid-template: auto auto/ repeat(2, 1fr);
    }

    /* ======================================== */

    .footer__inner {
        gap: 0px 20px;
    }

    .footer__logo {
        max-width: 73px;
        margin-bottom: 10px;
    }


    .footer__logo-text {
        font-size: 14px;
        margin-bottom: 10px;
    }


    .footer__col-title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .footer__col-list {
        font-size: 12px;
    }

    .footer__col-item {
        margin-bottom: 2px;
    }

    .footer__col-tel {
        margin-bottom: 12px;
    }

    .footer__col-number {
        font-size: 14px;
    }

    .footer__col-copy {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .main__img {
        margin-right: 0px;
    }

    .main__inner {
        gap: 0px;
    }

    /* ======================================== */
    .products__card {
        max-width: 21vw;
    }

    .products__card-img img {
        max-width: 21vw;
    }

    /* ======================================== */

    /* ======================================== */

    .main__article {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .article__title {
        color: var(--general-text-1);
        font-size: 26px;
        margin-bottom: 20px;
    }

    .article__text {
        font-size: 12px;
        line-height: 16px;
    }

    /* ======================================== */

    .main__info {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .info__title {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .info__card {
        padding-top: 18px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info__card-img {
        margin-bottom: 11px;
    }

    .info__card-title {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .info__card-text {
        font-size: 12px;
        line-height: 16px;  
    }

    /* ======================================== */

    .footer {
        padding: 16px 0 20px;
    }

    .footer__inner {
        display: grid;
        gap: 0px 20px;
        justify-content: space-between;
        grid-template: auto auto / repeat(2, 1fr);
    }

    .footer__col--5 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: -3;
        grid-column-end: -1;
        align-items: flex-start;
    }

    .footer__logo {
        max-width: 110px;
        margin-bottom: 6px;
    }


    .footer__logo-text {
        font-size: 16px;
        margin-bottom: 10px;
    }


    .footer__col-title {
        font-size: 16px;
        margin-bottom: 6px;
    }

    .footer__col-list {
        font-size: 12px;
    }

    .footer__col-item {
        margin-bottom: 1px;
    }

    .footer__col-tel {
        margin-bottom: 18px;
    }

    .footer__col-number {
        font-size: 12px;
    }

    .footer__col-copy {
        font-size: 12px;
    }

    .social {
        margin-bottom: 16px;
    }
}


@media (max-width: 650px) {
    .main__img {
        margin-right: 0px;
    }

    .main__inner {
        gap: 0px;
    }

    .main__title {
        font-size: 24px;
        line-height: 29px;
        max-width: 290px;
        min-width: 290px;
        margin-bottom: 16px;
    }

    .main__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 220px;
        margin-bottom: 30px;
    }

    .main__button {
        font-size: 16px;
        max-width: 141px;
        max-height: 36px;
        background: var(--accent-color-1);
        padding: 7px 26.5px;
    }

    /* ======================================== */
}

@media (max-width: 550px) {
    .main__inner {
        display: grid;
        padding-top: 80px;
    }

    .main__img {
        margin-top: -95px;
        margin-left: 207px;
    }

    /* margin-left: 235px;
        margin-top: -80px; */


    .main__title {
        font-size: 24px;
        line-height: 29px;
        max-width: 290px;
        min-width: 290px;
        margin-bottom: 16px;
    }

    .main__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 220px;
        margin-bottom: 30px;
    }

    .main__button {
        font-size: 16px;
        max-width: 141px;
        max-height: 36px;
        background: var(--accent-color-1);
        padding: 7px 26.5px;
    }

    .main__img {
        margin-left: 209px;
        margin-top: -66px;
    }

    /* ======================================== */

    .main__products {
        padding-bottom: 31px;
        padding-top: 31px;
    }

    .products__inner {
        display: grid;
        justify-items: center;
        grid-template: auto / repeat(2, 2fr);
        gap: 20px;
        line-height: 1;
    }


    .products__card {
        max-width: 45vw;
    }

    .products__card-img img {
        max-width: 45vw;
    }

    .products__card-img {
        margin-bottom: 10px;
    }

    .products__card-info {
        padding-left: 12px;
        padding-right: 12px;
    }

    .products__card-title {
        font-size: 13px;
        padding-top: 10px;
        margin-bottom: 8px;
    }

    .products__card-text {
        font-size: 11px;
        gap: 10px;
        padding-bottom: 16px;
    }

    .products__card-text svg {
        width: 12px;
        height: 12px;
    }

    /* ======================================== */

    .main__article {
        padding-top: 46px;
        padding-bottom: 46px;
    }

    .article__title {
        color: var(--general-text-1);
        font-size: 20px;
        margin-bottom: 20px;
    }

    .article__text {
        font-size: 2.5vw;
        line-height: 16px;
    }

    /* ======================================== */


}

@media (max-width: 500px) {

    .article__text {
        font-size: 2.5vw;
        max-width: 91vw;
        min-width: 91vw;
    }
    /* ======================================== */

    .info__card-wrapper {
        display: grid;
        grid-template: auto auto/ repeat(1, 1fr);
        gap: 10px;
    }

    .info__card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 43px;
        max-width: 480px;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main__info {
        padding-top: 46px;
        padding-bottom: 46px;
    }


    .info__title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .info__card {
        /* padding-top: 18px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px; */
    }

    .info__card-img {
       margin-bottom: auto;
    
    }


    .info__card-title {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .info__card-text {
        font-size: 12px;
        line-height: 16px;  
    }

}

@media (max-width: 450px) {

    .main__img {
        margin-left: 138px;
        margin-top: -77px;
    }
    /* ======================================== */

}

@media (max-width: 400px) {

    .main__title {
        font-size: 24px;
        line-height: 29px;
        max-width: 290px;
        min-width: 290px;
        margin-bottom: 16px;
    }

    .main__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 170px;
        margin-bottom: 30px;
    }

    .main__button {
        font-size: 16px;
        max-width: 141px;
        max-height: 36px;
        background: var(--accent-color-1);
        padding: 10px 20px;
    }

    .main__img {
        margin-left: 80px;
        margin-top: -77px;
    }

    /* ======================================== */

    .footer__logo-text {
        font-size: 16px;
        margin-bottom: 10px;
    }


    .footer__col-title {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .footer__col-list {
        font-size: 10px;
    }

    .footer__col-item {
        margin-bottom: 1px;
    }

    .footer__col-tel {
        margin-bottom: 18px;
    }

    .footer__col-number {
        font-size: 10px;
    }

    .footer__col-copy {
        font-size: 10px;
    }
}